:root {
    --mainColor : #252734 ;
    --secondaryColor : #333646;
    --acsentColor : #ff9100;
}

body{
    background-color: var(--mainColor);
    min-height: 100px;
    font-family: 'ubuntu', sans-serif;
}

section h2{
    color: #ffffff;
    font-size: 2.5rem;
}
/* navbar */
.nav-link.active{
    color: var(--acsentColor) !important;
    font-weight: 800;
}
.nav-dark{
    background-color: var(--secondaryColor) !important;
    z-index: 10;
    transition: 1s;
}
/* end navbar */

/* section hero */
.color-acsent{
    color: var(--acsentColor);
}
#hero{
    color: #ffffff;
    padding-top: 75px;
    padding-bottom: 75px;
}

#hero h2{
    font-size: 3rem;
    font-weight: 300;
}
#hero p{
    font-size: 1.1rem;
    font-weight: 300;
}
/* cta */
.btn-custom1{
    background-color: var(--acsentColor) !important;
    text-align: center;
    color: #ffffff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}
.btn-custom1:hover{
    box-shadow: 0 0 10px rgba(255, 166, 0, .8);
}
/* end section hero */

/* about */
hr{
    width: 35%;
    height: 5px;
    color: var(--acsentColor);
    margin:0 auto;
    opacity: 100%;
}

#about{
    min-height: 300px;
    width: 100%;
    background-color: var(--secondaryColor);
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}
/* end about */

/* skill */
#skill{
    min-height: 100px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 20px;
}
#skill img{
    width: 12% ;
}
/* end skill */

/* sertif */
#sertifikat{
  
    background-color: var(--secondaryColor);

}
#sertifikat img{
    width: 30%;
    padding: 9px;
}
/* end sertifikat */

/* portofolio */
#portofolio {
  background-color: var(--mainColor);
  padding: 50px 0;
  text-align: center;
}

.background-color1 {
  background-color: #333646;
  border: 5px solid #ffffff;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slideshow-container1 {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.mySlides {
  display: none;
  width: 100%;
  z-index: 1;
}

.mySlides img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;  /* Memastikan gambar mengisi area yang disediakan */
  display: block; /* Mengatur gambar agar tampil dengan baik */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  transform: translateY(-50%);
  z-index: 2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
  text-align: center;
  padding: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 5px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #ff7300;
}

.text {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

}
/* web */
.web {
  display: flex;
  justify-content: space-evenly; /* Agar web1 dan web2 berada di kiri-kanan */
  margin: 50px auto 0; 
  max-width: 990px;
}

#web1, #web2 {
  width: 50%; /* Lebar masing-masing div hampir setengah dari lebar container */
  position: center;
}

.box1, .box2 {
  transition: transform 0.3s ease;
}

.box1:hover, .box2:hover {
  transform: scale(1.1);
  z-index: 1;
}

.web p{
  color: #ffffff;
}

/* end web */

/* end portofolio */

/* Contact */
#contact{
  width: 100%;
  background-color: var(--secondaryColor);
  color: #ffffff;
  padding-bottom: 40px;
}
/* end Contact */